<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FormPage</title>
  </head>
  <body>
    <form action="/Data" method="post">
      학번 : <input type="text" name="id"><br>
      다른 친구의 학번(공통인경우) : <input type="text" name="id2"><br>
      <input type="radio" id="same" name="todo" value="Same">
      <label for "same">공통</label><br>
      <input type="radio" id="view" name="todo" value="View">
      <label for "view">분반</label><br>
      <input type="submit" value="전송">
    </form>
  </body>
</html>